html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.box {
  background-color: rebeccapurple;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-heading {
  color: pink;
}
.main-heading__header {
  display: flexbox;
  flex-direction: row;
}

.our-products__heading {
  color: white;
  background-color: #b84242;}


.our-products__article{
    color: #b84242;
}

.our-products__photo {
  animation-name: slide;
    width: 200px;
    /* height: inherit; */
  }
  .our-products__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .our-products__section {
    display:inline-block;
  }


nav a {
  color: green;
}

a {
  color: orange;
}

.about-us {
    color: #b84242;
    background: #fff;
}

.about-us__article {
    color:#b84242;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.about-us__link {

}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.navigation {
  background: #2dd145;
  border-radius: 10px;
  height: 30px;
}

.navigation__link {
    color: #4f1b64;
    display: inline-block;
    margin: 6px 20px 0 0;
}
.navigation__link--homepage {
    color: #b84242;
    margin-left: 20px;

}
.main {
  max-width: 1000px;
  margin: 0 auto;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}