body {
    background: #4f1b64
    /* background: lightcoral */
}

.main-heading {
    color: pink;
}

.secondary-heading {
    color: white;
    background-color: #b84242;
}

section {
    background: #ffffff;
}

img {
    width: 200px;
    height: inherit;
}

nav a {
    color: green;
}

a {
    color: orange; 
}

.navigation {
    background: #b6a1a1;
}