html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
background-color: #0093E9;
background-image: linear-gradient(326deg, #0093E9 36%, #80D0C7 70%);
min-height: 100vh;

}

.box {
  background-color: rebeccapurple;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-heading {
  color: pink;
}
.main-heading__header {
  display: flexbox;
  flex-direction: row;
}

.our-products__heading {
  color: white;
  background-color: #b84242;}


.our-products__article{
    color: #b84242;
}

.our-products__photo {
  animation-name: slide;
    width: 200px;
    /* height: inherit; */
  }
  .our-products__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .our-products__section {
    display:inline-block;
  }


nav a {
  color: green;
}

a {
  color: orange;
}

.about-us {
    color: #b84242;
    background: #fff;
}

.about-us__article {
    color:#b84242;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.about-us__link {

}

.main__form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.form__item {
  display: block;
  width: 100%;
}

.form textarea {
  width: 100%;
  height: 200px;
}


.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
display: grid;
color:white;}


.main {
  max-width: 1000px;
  margin: 0 auto;
}

.navigation {
  background: #80D0C7;
  border-radius: 10px;
  height: 100px;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__link {
    color: #fefefe;
    background-color: #0093E9;
    width: 100px;
    height: 30px;
    margin: 6px 20px 0 0;
    text-decoration: none;
}
  
