
.person {
  display: flex;
  align-items: flex-start;
  margin: 0;

}

.person__description {
  line-height: 22px;
}
.person__link {
  text-decoration: none;
  color: #e20613;
}

.person__name {
  font-weight: normal;
  margin: 0;
  font-size:36px;
}

.person__picture {
  padding-right: 32px;
}

.person__position {
  color: #545454;
  font-size: 16px;
  margin:0;
  font-style: italic;
}

.special {
  color: #ed6d05;
  font-weight: normal;
}
