// .navigation {
//     padding: 16px;
//     display: none;
//   }
  
 
  .navigation__link:first-child {
    background: blue;
    display: block;
    /* text-decoration: none; */
  }
  
  .navigation--open {
    display: block;
  }

  .navigation {
    background: #80d0c7;
    border-radius: 10px;
    height: 100px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navigation__link {
    color: #fefefe;
    background-color: #0093e9;
    width: 100px;
    height: 30px;
    margin: 6px 20px 0 0;
    text-decoration: none;
  }